@font-face {
  font-family: Halant;
  font-weight: 300;
  src: url("../fonts/Halant-Light.woff2") format("woff2"), url("../fonts/Halant-Light.eot");
}

@font-face {
  font-family: Halant;
  font-weight: normal;
  src: url("../fonts/Halant-Regular.woff2") format("woff2"), url("../fonts/Halant-Regular.eot");
}

@font-face {
  font-family: Halant;
  font-weight: 500;
  src: url("../fonts/Halant-Medium.woff2") format("woff2"), url("../fonts/Halant-Medium.eot");
}

@font-face {
  font-family: Halant;
  font-weight: 600;
  src: url("../fonts/Halant-SemiBold.woff2") format("woff2"), url("../fonts/Halant-SemiBold.eot");
}

@font-face {
  font-family: Lato;
  font-weight: 300;
  src: url("../fonts/Lato-Light.woff2") format("woff2"), url("../fonts/Lato-Light.eot");
}

@font-face {
  font-family: Lato;
  font-weight: 900;
  src: url("../fonts/Lato-Black.woff2") format("woff2"), url("../fonts/Lato-Black.eot");
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  box-sizing: border-box;
  text-decoration: none;
  -webkit-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

input::-webkit-input-placeholder {
  color: inherit;
  opacity: 1;
}

input:-ms-input-placeholder {
  color: inherit;
  opacity: 1;
}

input::placeholder {
  color: inherit;
  opacity: 1;
}

input,
button,
textarea,
select {
  font: inherit;
}

img {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

*:focus-visible {
  outline: none;
}

p {
  width: 100%;
}

a, button {
  outline: none;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: auto;
  font-size: 15px;
  font-family: Halant, sans-serif;
  font-weight: normal;
  background: #fff;
}

.site__wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
}

.container {
  width: 1140px;
  height: auto;
  margin: 0 auto;
  position: relative;
}

.site__header {
  width: 100%;
  height: 48px;
  background-color: #2C3243;
  padding-left: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.header__left {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 1;
  color: #FFFFFF;
}

.header__nav {
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
}

.header__nav-link {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 11px;
  line-height: 1;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.header__nav-img {
  margin-left: 5px;
  margin-top: 2px;
}

.header__nav-search {
  width: 48px;
  height: 48px;
  background-color: #988146;
}

.header__nav-search .header__nav-link {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__nav-burger {
  display: none;
}

.order {
  display: none;
}

.site__main {
  width: 100%;
  height: auto;
}

.information__section {
  width: 100%;
  height: auto;
  padding-top: 83px;
}

.information__wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #C4C4C4;
}

.information__main-img {
  width: 100%;
}

.dialog__block {
  width: 1000px;
  background-color: #fff;
  margin-top: -45px;
  position: relative;
}

.autor__info {
  width: 100%;
  padding: 25px;
}

.lifestyle {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 1.3;
  color: #2B2B2B;
  margin-bottom: 15px;
}

.autor__text {
  font-family: Halant, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 1.7;
  color: #000000;
  margin-bottom: 10px;
}

.autor__info-items {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.autor__info-item {
  display: flex;
  align-items: center;
  margin-right: 50px;
  flex-shrink: 0;
}

.autor__info-item span {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.2;
  color: #2B2B2B;
}

.info__img {
  margin-right: 5px;
}

.autor__img {
  width: 100%;
  height: auto;
}

.autor__img-text {
  width: 100%;
  height: auto;
  font-family: Halant, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 2;
  color: #000000;
  background-color: #D1D8C6;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-top: -7px;
  margin-bottom: 30px;
}

.autor__information-text {
  font-family: Halant, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.7;
  color: #000000;
  margin-bottom: 30px;
}

.text-bold {
  font-weight: 500;
}

.text-big {
  font-size: 21px;
}

.text-red {
  color: #FF0000;
}

.dialog__wrapper {
  width: 99%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.dialog__bg {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px 19px;
  background-color: #EEEEEE;
  margin-bottom: 30px;
}

.dialog__autor {
  width: 100px;
  margin-right: 30px;
  flex-shrink: 0;
}

.dialog__text {
  font-family: Halant, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.8;
  color: #000000;
}

.dialog__text .red {
  font-weight: 600;
  color: #FF0000;
}

.dialog__text .blue {
  font-weight: 600;
  color: #045BC5;
}

.dialog__text .lightblue {
  font-weight: 600;
  color: #A500B4;
}

.dialog__text a {
  color: inherit;
}

.link {
  color: #045BC5 !important;
}

.dialog {
  width: 96%;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.dialog__portraite {
  width: 96%;
}

.dialog__text-2 {
  font-family: Halant, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.8;
  color: #750000;
  width: 96%;
  margin: 30px 0;
}

.dialog__text-3 {
  font-family: Halant, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.8;
  color: #000000;
  margin-bottom: 30px;
  width: 96%;
}

.dialog__text-3 a {
  color: inherit;
}

.dialog__wrapper .autor__img-text {
  width: 96%;
  font-family: Halant, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 2.2;
  text-align: center;
  color: #000000;
}

.dialog__text-4 {
  font-family: Halant, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.8;
  color: #000000;
  margin-bottom: 30px;
  width: 96%;
}

.dialog__text-4 a {
  color: inherit;
}

.comparison__block {
  width: 96%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.comparison {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.comparison__img {
  margin-bottom: 15px;
}

.comparison__text {
  font-family: Halant, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.8;
  text-align: center;
  color: #000000;
}

.comparison__text a {
  color: inherit;
}

.comparison__info {
  position: absolute;
  top: 17px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 75px;
  height: 75px;
  border-radius: 100%;
  background: #FFFFFF;
  border: 1px solid #FF0000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Halant, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.4;
  text-align: center;
  color: #000000;
}

.order__btn {
  width: 360px;
  height: 65px;
  background: #FF0000;
  border-radius: 20px;
  transition: 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Halant, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 1;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 30px;
  cursor: pointer;
}

.order__btn:hover {
  background: #d80202;
}

.order__link {
  font-family: Halant, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 1;
  text-align: center;
  color: #045BC5;
  cursor: pointer;
  margin-bottom: 30px;
}

.text-bold {
  font-weight: 600;
}

.date {
  font-weight: 600;
  color: #FF0000;
}

.garanty {
  font-family: Halant, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.8;
  text-align: center;
  color: #000000;
  margin: 30px auto;
  width: 419px;
}

.card {
  width: 1300px;
  height: auto;
  margin: auto;
  background-color: #39A356;
  border-radius: 50px;
  padding: 35px 112px 18px 70px;
  display: flex;
  justify-content: flex-end;
  position: relative;
  margin-bottom: 65px;
}

.card__left {
  width: 585px;
  height: 585px;
  position: absolute;
  top: 50%;
  left: 87px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.12);
}

.card__left:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 475px;
  height: 475px;
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.12);
}

.card__left-sale {
  position: absolute;
  top: 228px;
  right: 13px;
  width: 209px;
  height: 209px;
  background-color: #FFDC12;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card__sale-text {
  font-family: Halant, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 1;
  text-align: center;
  color: #000000;
}

.price {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.old__price {
  font-family: Halant, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.8;
  text-align: center;
  color: #000000;
  position: relative;
}

.old__price:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  margin-top: -1px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: #FF0000;
}

.new__price {
  font-family: Halant, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 1;
  text-align: center;
  color: #FF0000;
}

.card__product-img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin-top: 30px;
  margin-left: -20px;
}

.structure__block {
  width: 132px;
  height: 535px;
  position: absolute;
  top: 50%;
  left: -15px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.structure__img-wrapper {
  width: 130px;
  height: 130px;
  border-radius: 100%;
  border: 10px solid rgba(255, 255, 255, 0.1);
  position: relative;
}

.structure__img {
  width: 110px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.card__right {
  width: 497px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__title {
  font-family: Halant, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 9px;
  width: 100%;
}

.card__subtitle {
  font-family: Halant, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.8;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 14px;
  width: 100%;
}

.card__text {
  width: 400px;
  margin-bottom: 13px;
  font-family: Halant, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.8;
  text-align: center;
  color: #FFFFFF;
}

.countdown {
  font-family: Halant, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 1.8;
  text-align: center;
  color: #FF0000;
  margin-bottom: 21px;
}

.card__form {
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 14px;
}

.card__form .order__btn {
  margin: 0;
}

.card__input-wrapper {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.card__input {
  width: 100%;
  height: 50px;
  padding: 0 20px;
  border: 1px solid #FFFFFF;
  border-radius: 20px;
  font-family: Halant, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1;
  color: #FFFFFF;
}

.card__order-price {
  font-family: Halant, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.8;
  text-align: center;
  color: #FFFFFF;
}

.card__order-price span {
  color: #FF0000;
}

.reviews-headline {
  border-bottom: 1px dashed #365398;
  color: #365398;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 10px;
  line-height: 1.3;
  font-size: 14px;
  font-family: 'Tahoma', sans-serif;
}

.reviews {
  padding-bottom: 40px;
  font-family: Arial, serif;
  /*max-width: 790px;*/
  width: 100%;
  /*margin-top: 30px;*/
}

.review-inner > a {
  color: red !important;
  text-decoration: none;
}

.review-inner > a:hover {
  text-decoration: underline !important;
}

.review-inner img {
  margin-top: 7px;
}

.form-comment--name input {
  font-size: 14px;
}

.form-reviews {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.comment-photo {
  width: 64px;
  height: 64px;
  /*border-radius: 50%;*/
}

.comment-photo img {
  display: block;
  width: 100%;
  border-radius: 50%;
}

.comment-info {
  width: calc(100% - 60px - 15px);
}

.form-comment--name input {
  outline: none;
  display: block;
  width: 100%;
  max-width: 190px;
  height: 27px;
  padding: 5px 10px;
  border-radius: 0;
  border: 1px solid #ddd;
  transition: none;
  box-sizing: border-box;
  font-weight: normal;
}

.form-comment--name input:focus {
  border: 2px solid #000;
  border-radius: 4px;
}

.form-comment--text textarea {
  display: block;
  width: 100%;
  height: 58px;
  padding: 10px;
  border-radius: 0;
  border: 1px solid #ddd;
  transition: none;
  resize: none;
  margin-top: 14px;
  font-weight: normal;
  font-size: 14px;
}

.form-comment--btn button {
  display: inline-block;
  padding: 0 5px;
  /* font-size: 16px; */
  color: #fff;
  background: #4267b2;
  border-radius: 2px;
  font-size: 14px;
  min-width: 127px;
  height: 22px;
  cursor: pointer;
  font-weight: bold;
  line-height: 18px;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0);
  margin-top: 15px;
}

.review {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dashed #ccc;
}

.review .media-left {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  padding: 0;
}

.review .media-left img {
  display: block;
  width: 100% !important;
  height: 100% !important;
  border-radius: 50%;
  /*width: 74px;*/
}

.content .img-responsive {
  margin: 4px 0 0;
}

.review .media-body {
  width: calc(100% - 70px - 10px);
}

.review .media-body > p {
  font-size: 14px !important;
  line-height: 19.6px;
}

.review .media-body p {
  font-weight: normal;
}

.review {
  border-bottom: 1px dashed #ccc;
  display: flex;
  align-items: flex-start;
  padding: 14px 0;
  margin: 0 -10px;
}

.review h4 {
  font-size: 14px !important;
  font-weight: 700;
}

.review .rating {
  display: flex;
  align-items: center;
  line-height: 20px;
  margin-top: 8px;
}

.review .review {
  padding-bottom: 0;
  border: none;
  width: 100%;
}

.review .separator-point {
  font-weight: normal;
  margin: 0 3px;
}

.review .media-left img {
  margin-top: 0;
  margin-left: 10px;
  margin-right: 10px;
}

.review .media-heading {
  margin-bottom: 8px;
}

.review .media-body > p img {
  margin-top: 10px;
  max-width: 340px;
  width: 100%;
}

.rating-like {
  display: flex;
  align-items: center;
  margin-left: 4px;
}

.rating-like .count {
  margin-left: 4px;
  font-size: 12px;
  color: #365398;
  font-weight: normal !important;
}

.rating .time {
  color: #365398;
  font-size: 12px;
  font-weight: normal !important;
}

.add-like,
.review-link {
  color: #365398 !important;
  font-size: 12px;
  margin-bottom: 0 !important;
  font-weight: normal;
}

.ratting .likes {
  font-size: 12px;
}

.rating-like img {
  width: 13px !important;
}

.add-like {
  cursor: pointer;
  margin-top: 0;
  width: auto;
}

.add-like.active {
  font-weight: bold !important;
}

.review-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 10px;
  overflow: hidden;
}

.review-photo img {
  display: block;
  width: 100%;
}

.review-body {
  width: calc(100% - 50px - 20px - 10px);
}

.review .user-name {
  margin-top: 0;
  color: #365398;
  font-size: 14px;
  text-align: left;
  text-align-last: left;
  font-weight: 700;
}

.review-inner {
  margin: 8px 0;
  font-size: 14px;
  line-height: 1.4;
}

.review-inner img {
  width: 100%;
  max-width: 420px;
}

.review a {
  box-shadow: none;
  text-decoration: none;
}

.review a:hover {
  text-decoration: none;
  color: red;
}

.review-photo-prod {
  display: block;
  width: 100%;
  max-width: 380px;
  margin-top: 8px;
}

.site__footer {
  width: 100%;
  height: auto;
}

.site__footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__order-btn {
  width: 400px;
  height: 100px;
  background-color: #FF0000;
  cursor: pointer;
  font-family: Halant, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 1;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 30px;
  transition: 0.3s ease;
}

.footer__order-btn:hover {
  background: #d80202;
}

.copyright {
  font-family: Halant, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.6;
  text-align: center;
  color: #000000;
}

.footer__links {
  margin-bottom: 48px;
}

.footer__links a {
  font-family: Halant, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.6;
  text-align: center;
  color: #000000;
  cursor: pointer;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 1000;
}

.privacy-policy-popup {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  transition: 0.3s ease;
  overflow: auto;
}

.privacy-policy-popup.active {
  opacity: 1;
  visibility: visible;
  z-index: 10000;
}

.privacy-policy__wrapper {
  display: none;
  width: 750px;
  height: auto;
  padding: 50px;
  background-color: #F7F7FF;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  margin: auto;
}

.privacy-policy__headline {
  width: 100%;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 100%;
  text-align: center;
  color: #222;
  margin-bottom: 20px;
}

.privacy-policy__text {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  text-align: left;
  color: #222;
  margin-bottom: 10px;
}

.privacy__close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 1000;
}

@media (max-width: 880px) {
  .modal__wrapper {
    width: 668px;
    height: 398px;
  }
  .modal__area {
    margin-bottom: 75px;
  }
  .modal__autor {
    justify-content: flex-start;
  }
  .file {
    margin-left: 30px;
  }
  .modal__star-raiting {
    position: absolute;
    left: 50px;
    width: 200px;
    bottom: 115px;
  }
  .privacy-policy__wrapper {
    width: calc(100% - 60px);
  }
}

@media (max-width: 700px) {
  .modal__wrapper {
    width: 290px;
    height: 508px;
    padding: 60px 20px;
  }
  .modal form {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  }
  .send {
    margin-top: 20px;
  }
  .modal__area {
    margin-bottom: 75px;
  }
  .modal__autor {
    height: auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0;
  }
  .file {
    order: 1;
    margin-left: 0px;
  }
  .name__input {
    order: 2;
  }
  .modal__area {
    height: 168px;
    margin: 0;
  }
  .modal__star-raiting {
    order: 3;
    position: relative;
    left: auto;
    width: 100%;
    height: 50px;
    bottom: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    justify-content: flex-start;
  }
  .privacy-policy__wrapper {
    width: calc(100% - 30px);
    height: 500px;
    padding: 50px 30px;
    overflow: auto;
  }
  .privacy-policy__headline {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .privacy-policy__text {
    font-size: 14px;
  }
}

@media (max-width: 1300px) {
  .card {
    width: 100%;
    padding: 35px 50px 18px 50px;
  }
  .card__left {
    left: 50px;
  }
}

@media (max-width: 1200px) {
  .container {
    width: 1000px;
  }
}

@media (max-width: 1100px) {
  .card__right {
    width: 384px;
  }
  .card__title {
    font-size: 30px;
  }
  .card__subtitle {
    font-size: 22px;
  }
  .card__text {
    width: 100%;
  }
  .card__order-price {
    width: 100%;
  }
  .card__left {
    width: 560px;
    height: 560px;
  }
  .card__product-img {
    width: 340px;
  }
  .card__left-sale {
    top: 200px;
  }
}

@media (max-width: 1000px) {
  .container {
    width: 100%;
  }
  .site__header {
    padding-left: 50px;
  }
  .header__nav-link {
    display: none;
  }
  .header__nav-burger {
    display: block;
    width: 48px;
    height: 48px;
    background-color: #000;
  }
  .header__nav-burger a {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header__nav-burger .header__nav-img {
    margin: 0;
  }
  .information__section {
    padding-top: 48px;
  }
  .autor__info {
    width: 100%;
    padding: 30px 50px;
  }
  .dialog__block {
    width: 100%;
    margin-top: 0px;
  }
  .dialog__wrapper {
    width: 100%;
  }
  .dialog__bg {
    padding: 20px 50px;
  }
  .dialog {
    width: 100%;
    padding: 0px 50px;
  }
  .dialog__portraite {
    width: calc(100vw - 100px);
  }
  .dialog__text-2,
  .dialog__text-3,
  .dialog__text-4 {
    width: calc(100vw - 100px);
  }
  .dialog__wrapper .autor__img-text {
    width: calc(100vw - 100px);
  }
  .comparison__block {
    width: calc(100vw - 100px);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0px;
  }
  .comparison {
    margin: auto;
    margin-bottom: 30px;
  }
  .review__section {
    width: 100%;
    padding: 0 50px;
  }
  .card__left {
    width: 560px;
    height: 560px;
    position: relative;
    top: auto;
    left: auto;
    -webkit-transform: none;
    transform: none;
    margin-bottom: 30px;
  }
  .card {
    width: calc(100vw - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}

@media (max-width: 768px) {
  .review {
    margin: 0;
  }
  .review-photo {
    margin-left: 0;
  }
  .review-body {
    width: calc(100% - 50px - 10px);
  }
}

@media (max-width: 700px) {
  .autor__info-item {
    margin-right: 15px;
    margin-bottom: 8px;
  }
  .autor__info-items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
  }
  .card {
    padding: 20px 12px;
  }
  .card__left {
    width: 70vw;
    height: 70vw;
    margin-bottom: 150px;
  }
  .card__left:before {
    width: 60vw;
    height: 60vw;
  }
  .card__product-img {
    width: 44vw;
    margin: 0;
    margin-top: 30px;
    margin-left: -10px;
  }
  .card__left-sale {
    top: 32vw;
    right: 1vw;
    z-index: 1;
    width: 160px;
    height: 160px;
  }
  .card__sale-text {
    font-size: 30px;
  }
  .new__price {
    font-size: 40px;
  }
  .structure__block {
    width: 82vw;
    height: auto;
    position: absolute;
    top: auto;
    bottom: -140px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .structure__img-wrapper {
    width: 20vw;
    height: 20vw;
  }
  .structure__img {
    width: 17vw;
  }
}

@media (max-width: 480px) {
  .site__header {
    padding-left: 15px;
  }
  .autor__info {
    width: 100%;
    padding: 18px 15px 0;
  }
  .lifestyle {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .autor__text {
    font-size: 18px;
  }
  .autor__info-items {
    margin-bottom: 12px;
  }
  .autor__info-item span {
    font-size: 14px;
  }
  .autor__img-text {
    font-size: 16px;
    margin-bottom: 25px;
  }
  .autor__information-text {
    font-size: 16px;
    margin-bottom: 25px;
  }
  .dialog__bg {
    padding: 10px 15px;
    margin-bottom: 25px;
  }
  .dialog__text {
    font-size: 16px;
  }
  .dialog__autor {
    width: 70px;
    margin-right: 10px;
  }
  .dialog {
    width: 100%;
    padding: 0px 15px;
    align-items: flex-start;
  }
  .dialog__wrapper .order__btn {
    width: calc(100% - 30px);
  }
  .card__left-sale {
    top: 34vw;
    right: 0vw;
    z-index: 1;
    width: 120px;
    height: 120px;
  }
  .card__sale-text {
    font-size: 22px;
  }
  .new__price {
    font-size: 32px;
  }
  .old__price {
    font-size: 14px;
  }
  .dialog__portraite {
    width: calc(100vw - 30px);
  }
  .dialog__text-2,
  .dialog__text-3,
  .dialog__text-4 {
    font-size: 16px;
    width: calc(100vw - 30px);
  }
  .dialog__wrapper .autor__img-text {
    width: calc(100vw - 30px);
    margin-top: 25px;
  }
  .comparison__block {
    width: calc(100vw - 30px);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0px;
  }
  .comparison {
    width: calc(100vw - 30px);
  }
  .comparison__img {
    width: calc(100vw - 30px);
    margin-bottom: 15px;
  }
  .order__link {
    font-size: 16px;
    margin-bottom: 25px;
    width: 316px;
  }
  .garanty {
    font-size: 16px;
    margin: 25px auto;
    width: calc(100vw - 30px);
  }
  .card {
    width: calc(100vw - 30px);
  }
  .card__left {
    width: 70vw;
    height: 70vw;
    margin-bottom: 22vw;
  }
  .structure__block {
    width: 82vw;
    bottom: -20vw;
  }
  .card__right {
    width: calc(100% - 12px);
  }
  .card__title {
    font-size: 6.5vw;
  }
  .card__subtitle {
    font-size: 6vw;
  }
  .card__form {
    width: calc(100% - 12px);
  }
  .order__btn {
    width: 100%;
    font-size: 5vw;
  }
  .review__section {
    width: 100%;
    padding: 0 15px;
  }
  .review-body img {
    max-width: 66vw;
  }
  .footer__order-btn {
    width: calc(100% - 30px);
    height: 100px;
    font-size: 9vw;
    margin-bottom: 15px;
  }
  .footer__links {
    margin-bottom: 12px;
  }
  .order {
    position: fixed;
    right: 15px;
    bottom: 15px;
    width: 75px;
    height: 75px;
    border-radius: 100%;
    background: #29D559;
    box-shadow: 0px 0px 25px rgba(41, 213, 89, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 320px) {
  .card__left {
    width: 75vw;
    height: 75vw;
    margin-bottom: 22vw;
  }
  .card__left-sale {
    right: -4vw;
  }
  .card__order-price {
    font-size: 4vw;
  }
  .card {
    margin-bottom: 40px;
  }
}
