@font-face {
  font-family: "Open Sans";
  font-weight: normal;
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.eot");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 600;
  src: url("../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans-SemiBold.eot");
}

@font-face {
  font-family: "Open Sans";
  font-weight: bold;
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.eot");
}

@font-face {
  font-family: Pacifico;
  font-weight: normal;
  src: url("../fonts/Pacifico-Regular.woff2") format("woff2"), url("../fonts/Pacifico-Regular.eot");
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  box-sizing: border-box;
  text-decoration: none;
  -webkit-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

input::-webkit-input-placeholder {
  color: inherit;
  opacity: 1;
}

input:-ms-input-placeholder {
  color: inherit;
  opacity: 1;
}

input::placeholder {
  color: inherit;
  opacity: 1;
}

input,
button,
textarea,
select {
  font: inherit;
}

img {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

*:focus-visible {
  outline: none;
}

p {
  width: 100%;
}

a, button {
  outline: none;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: auto;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  background: #fff;
}

.site__wrapper {
  width: 100%;
  height: auto;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  overflow: hidden;
}

.container {
  width: 1620px;
  height: auto;
  margin: 0 auto;
  position: relative;
}

.site__header {
  width: 100%;
  height: 1080px;
  background-image: url(../img/header-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.site__header .container {
  height: 100%;
}

.site__header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(50% 50% at 50% 50%, rgba(62, 72, 0, 0) 69.27%, rgba(62, 72, 0, 0.5) 100%);
}

.header__wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.header__left {
  width: 600px;
  height: auto;
  padding-top: 268px;
}

.header__title {
  width: 100%;
  height: auto;
  margin-bottom: 100px;
  font-family: Pacifico, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 1.41;
  color: #fff;
}

.header__title span {
  color: #BDFF00;
}

.header__order-btn {
  display: inline-block;
  width: 250px;
  height: 60px;
  background: #BDFF00;
  box-shadow: -8px 6px 5px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  padding: 0 63px;
  transition: 0.3s ease;
}

.header__order-btn span {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1;
  color: #333333;
}

.header__order-btn:hover {
  background: #fff;
}

.header__right {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  padding-top: 250px;
}

.header__logo-1 {
  margin-top: -100px;
  margin-right: -120px;
}

.header__logo-2 {
  margin-top: -200px;
  margin-right: -150px;
}

.site__main {
  width: 100%;
  height: auto;
}

.galary__section {
  width: 100%;
  height: 1200px;
  margin-top: -150px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  position: relative;
  z-index: 1;
}

.galary__img-wrapper {
  width: 610px;
  height: 854px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.galary__img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
  pointer-events: auto;
}

.galary__img-wrapper1 {
  -webkit-align-self: flex-start;
  align-self: flex-start;
}

.galary__img-wrapper2 {
  margin-bottom: 150px;
  width: 500px;
  height: 800px;
}

.galary__text-1 {
  position: absolute;
  font-family: Pacifico, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 1.8;
  color: #C2924A;
  left: 150px;
  bottom: 120px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.galary__text-2 {
  display: inline-block;
  position: absolute;
  font-family: Pacifico, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 1.8;
  letter-spacing: 0.05em;
  text-align: right;
  color: #C2924A;
  right: 150px;
  top: 200px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.advantage__section {
  width: 100%;
  height: 1140px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin-top: -50px;
}

.advantage__left {
  width: 760px;
  height: 100%;
}

.advantage__img-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.advantage__right {
  width: 1060px;
  height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.advantage__img-wrapper2 {
  height: 585px;
}

.advantage__block {
  margin-bottom: 50px;
  width: 940px;
}

.advantage__block-title {
  font-family: Pacifico, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 1.8;
  color: #C2924A;
  margin-bottom: 10px;
}

.advantage__block-text {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.94;
  color: #333333;
  margin-bottom: 20px;
}

.advantages {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.advantage {
  width: 300px;
  height: auto;
}

.advantage__header {
  width: 100%;
  height: auto;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  margin-bottom: 10px;
}

.advantage__number {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 1.4;
  margin-right: 20px;
  color: #C2924A;
}

.advantage__title {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.6;
  color: #C2924A;
}

.advantage__text {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.94;
  color: #333333;
}

.card__section {
  width: 100%;
  height: auto;
}

.card__wrapper {
  width: 100%;
  height: auto;
  padding-top: 100px;
}

.card {
  width: 100%;
  height: auto;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.card__left {
  width: 1050px;
  height: 1450px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.card__column {
  width: 500px;
  height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.card__img-wrapper {
  width: 100%;
  height: 700px;
  position: relative;
  overflow: hidden;
}

.card__right {
  width: 500px;
  height: auto;
  border: 1px solid black;
}

.modal {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  transition: 0.3s ease;
}

.modal.active {
  opacity: 1;
  visibility: visible;
  z-index: 10000;
}

.modal__wrapper {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 750px;
  height: 348px;
  padding: 50px;
  background-color: #F7F7FF;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}

.modal form {
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  transition: 0.3s ease;
}

.modal form.active {
  opacity: 1;
  visibility: visible;
}

.modal__autor {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

.name__input {
  background: rgba(255, 255, 255, 0.5);
  width: 250px;
  height: 50px;
  border: 1px solid #888888;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: inherit;
  font-weight: normal;
  font-size: 18px;
  line-height: 50px;
  color: #444444;
  padding: 0 20px;
  background-color: #fff;
  margin-right: 50px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: center;
  align-items: center;
}

.name__input::-webkit-input-placeholder {
  font-family: inherit;
  font-weight: normal;
  font-size: 18px;
  line-height: 50px;
  color: #444;
}

.name__input:-ms-input-placeholder {
  font-family: inherit;
  font-weight: normal;
  font-size: 18px;
  line-height: 50px;
  color: #444;
}

.name__input::placeholder {
  font-family: inherit;
  font-weight: normal;
  font-size: 18px;
  line-height: 50px;
  color: #444;
}

.input__file {
  display: none;
}

.file {
  width: 153px;
  height: 50px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  cursor: pointer;
}

.file span {
  font-family: inherit;
  font-weight: normal;
  font-size: 16px;
}

.file div {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #fff;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  margin-right: 15px;
  border: 1px solid #888888;
  position: relative;
}

.file div img {
  display: none;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.file div:before {
  content: "";
  position: absolute;
  width: 14px;
  height: 2px;
  background: #5B67C8;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.file div:after {
  content: "";
  position: absolute;
  width: 14px;
  height: 2px;
  background: #5B67C8;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
  transform: translate(-50%, -50%) rotate(90deg);
}

.modal__star-raiting {
  display: -webkit-flex;
  display: flex;
  width: 174px;
  height: 50px;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-align-items: center;
  align-items: center;
  font-family: inherit;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #222222;
  position: relative;
  z-index: 10000;
}

.modal__raiting {
  min-width: 98px;
  height: 18px;
  font-size: 0px;
  margin-left: 23px;
}

.modal__raiting img {
  pointer-events: auto;
}

.modal__raiting img {
  width: 18px;
  height: 18px;
}

.modal__area {
  width: 100%;
  height: 98px;
  margin-bottom: 30px;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid #888888;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: inherit;
  font-weight: normal;
  font-size: 18px;
  line-height: 130%;
  color: #444444;
  padding: 13px 20px;
  background-color: #fff;
}

.modal__area::-webkit-input-placeholder {
  font-family: inherit;
  font-weight: normal;
  font-size: 18px;
  line-height: 130%;
  color: #444444;
}

.modal__area:-ms-input-placeholder {
  font-family: inherit;
  font-weight: normal;
  font-size: 18px;
  line-height: 130%;
  color: #444444;
}

.modal__area::placeholder {
  font-family: inherit;
  font-weight: normal;
  font-size: 18px;
  line-height: 130%;
  color: #444444;
}

.send {
  width: 250px;
  height: 50px;
  background: #5B67C8;
  border-radius: 4px;
  font-family: inherit;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  cursor: pointer;
}

.send__window {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
}

.send__window.active {
  opacity: 1;
  visibility: visible;
}

.send__massage {
  width: 60%;
  font-weight: normal;
  font-size: 18px;
  line-height: 130%;
  text-align: center;
  color: #222222;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 1000;
}

.privacy-policy-popup {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  transition: 0.3s ease;
}

.privacy-policy-popup.active {
  opacity: 1;
  visibility: visible;
  z-index: 10000;
}

.privacy-policy__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 750px;
  height: auto;
  padding: 50px;
  background-color: #F7F7FF;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}

.privacy-policy__headline {
  width: 100%;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 100%;
  text-align: center;
  color: #222;
  margin-bottom: 20px;
}

.privacy-policy__text {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  text-align: left;
  color: #222;
  margin-bottom: 10px;
}

.privacy__close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 1000;
}

@media (max-width: 880px) {
  .modal__wrapper {
    width: 668px;
    height: 398px;
  }
  .modal__area {
    margin-bottom: 75px;
  }
  .modal__autor {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }
  .file {
    margin-left: 30px;
  }
  .modal__star-raiting {
    position: absolute;
    left: 50px;
    width: 200px;
    bottom: 115px;
  }
  .privacy-policy__wrapper {
    width: calc(100% - 60px);
  }
}

@media (max-width: 700px) {
  .modal__wrapper {
    width: 290px;
    height: 508px;
    padding: 60px 20px;
  }
  .modal form {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-align-items: flex-start;
    align-items: flex-start;
  }
  .send {
    margin-top: 20px;
  }
  .modal__area {
    margin-bottom: 75px;
  }
  .modal__autor {
    height: auto;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    margin: 0;
  }
  .file {
    -webkit-order: 1;
    order: 1;
    margin-left: 0px;
  }
  .name__input {
    -webkit-order: 2;
    order: 2;
  }
  .modal__area {
    height: 168px;
    margin: 0;
  }
  .modal__star-raiting {
    -webkit-order: 3;
    order: 3;
    position: relative;
    left: auto;
    width: 100%;
    height: 50px;
    bottom: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }
  .privacy-policy__wrapper {
    width: calc(100% - 30px);
    height: 500px;
    padding: 50px 30px;
    overflow: auto;
  }
  .privacy-policy__headline {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .privacy-policy__text {
    font-size: 14px;
  }
}
