@font-face {
  font-family: Roboto;
  font-weight: normal;
  src: url("../fonts/Roboto-Regular.woff") format("woff");
}

@font-face {
  font-family: Roboto;
  font-weight: 300;
  src: url("../fonts/Roboto-Light.woff") format("woff");
}

@font-face {
  font-family: Roboto;
  font-weight: 500;
  src: url("../fonts/Roboto-Medium.woff") format("woff");
}

@font-face {
  font-family: Roboto;
  font-weight: bold;
  src: url("../fonts/Roboto-Bold.woff") format("woff");
}

@font-face {
  font-family: Roboto;
  font-weight: 900;
  src: url("../fonts/Roboto-Black.woff") format("woff");
}

@font-face {
  font-family: Merriweather;
  font-weight: bold;
  src: url("../fonts/MerriweatherSans-Bold.woff") format("woff");
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  box-sizing: border-box;
  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-value {
  background: none;
  color: #000;
}

select::-ms-expand {
  display: none;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: inherit;
  opacity: 1;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: inherit;
  opacity: 1;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: inherit;
  opacity: 1;
}

input::placeholder, textarea::placeholder {
  color: inherit;
  opacity: 1;
}

input,
button,
textarea,
select,
a,
option {
  font: inherit;
  outline: none;
  margin: 0;
  padding: 0;
  opacity: 1;
  overflow: visible;
}

img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

*:focus-visible {
  outline: none;
}

p, h1, h2, h3, h4, h5, h6 {
  width: 100%;
}

body {
  width: 100%;
  height: auto;
  font-size: 15px;
  font-family: Roboto, sans-serif;
  font-weight: normal;
  background: #FFFFFF;
}

.site__wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 1330px;
  height: auto;
  position: relative;
}

.site__header {
  width: 100%;
  height: 48px;
  background: #2C3243;
  margin-bottom: 35px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.header__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__name {
  margin-left: 40px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 1;
  color: #FFFFFF;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__link {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 11px;
  line-height: 1;
  color: #FFFFFF;
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.header__link:hover {
  text-decoration: underline;
}

.header__link-tringle {
  margin-left: 5px;
}

.header__link:last-child {
  margin-right: 0;
}

.header__search {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #988146;
  margin-left: 21px;
  cursor: pointer;
}

.header__menu {
  width: 48px;
  height: 48px;
  background-color: #000;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.site__order-btn {
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 75px;
  height: 75px;
  border-radius: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background: #FFE600;
  box-shadow: 0px 0px 25px rgba(209, 213, 41, 0.6);
  z-index: 100;
}

.site__main {
  width: 100%;
  height: auto;
  display: flex;
}

.sidebar {
  width: 260px;
  background: #32394C;
  height: auto;
  flex-shrink: 0;
  padding: 62px 18px 0;
}

.site__container {
  width: 100%;
  height: auto;
  margin: 0 35px;
}

.sidebar__title {
  font-size: 17px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 18px;
  color: #fff;
  text-decoration: none;
}

.sidebar__title a {
  color: inherit;
}

.sidebar__folow-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2ea2cc;
  color: #fff;
  font-weight: bold;
  text-align: center;
  border-radius: 4px;
  padding: 4px 10px;
  margin-bottom: 50px;
}

.sidebar__folow-link svg {
  margin-right: 4px;
}

.sidebar__blog-stats {
  text-transform: uppercase;
  margin-bottom: 24px;
  font-size: 20px;
  color: #fff;
}

.sidebar__blog-hits {
  font-size: 18px;
  line-height: 1.3;
  margin-bottom: 50px;
  color: #fff;
  opacity: 0.8;
}

.sidebar__img {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 60px;
}

.sidebar__card {
  width: 220px;
  height: auto;
  background: linear-gradient(122.95deg, #7DBCC2 36.05%, #864CD0 153.97%);
  border-radius: 15px;
  padding: 165px 15px 9px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar__card-img {
  position: absolute;
  top: -30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 185px;
}

.sidebar__card-title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 5px;
}

.sidebar__card-date {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 1.2;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 5px;
}

.sidebar__card-price {
  margin-bottom: 5px;
}

.sidebar__card-price .price {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 1.2;
  text-align: center;
  color: #FFFFFF;
}

.sidebar__card-price .price span {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.2;
  text-align: center;
  color: #FFE600;
}

.order__btn {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 7px;
  background: #FFE600;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.2;
  text-align: center;
  color: #000000;
  transition: 0.3s ease;
}

.order__btn:hover {
  background: #dbc500;
}

.sidebar__timer {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 1.2;
  text-align: center;
  color: #FFFFFF;
  width: 80%;
}

.fixed {
  position: fixed;
  top: 90px;
  left: 18px;
}

.main__section {
  width: 100%;
  height: auto;
  padding-top: 80px;
}

.main__header {
  width: 100%;
  height: auto;
  position: relative;
  margin-bottom: 24px;
}

.main__header::before {
  content: "";
  position: absolute;
  bottom: 43px;
  left: 0;
  width: 100%;
  height: 300px;
  background: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
}

.main__img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 20px;
}

.main__title {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  bottom: 73px;
  padding: 0 30px;
  font-family: Merriweather, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.4;
  text-transform: uppercase;
  color: #FFFFFF;
}

.autor__info {
  width: 100%;
}

.lifestyle {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 1.15;
  display: flex;
  align-items: center;
  color: #2B2B2B;
  margin-bottom: 24px;
}

.autor__text {
  font-family: Merriweather, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 1.41;
  color: #8B0000;
  margin-bottom: 31px;
}

.autor__info-items {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.info__img {
  margin-right: 5px;
}

.autor__info-item {
  display: flex;
  align-items: center;
  margin-right: 46px;
  flex-shrink: 0;
}

.autor__info-item span {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.15;
  display: flex;
  align-items: center;
  color: #2B2B2B;
}

.autor__img {
  display: block;
  width: 700px;
  margin: auto;
  margin-bottom: 30px;
}

.autor__info-text {
  width: 100%;
  height: auto;
  background: #EEEEEE;
  padding: 13px 10px;
  margin-bottom: 30px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}

.text__link {
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.33;
  color: #0099FF;
}

.text__link:hover {
  text-decoration: underline;
}

.text__bold {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.39;
  margin-bottom: 30px;
}

.text__normal {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.33;
  margin-bottom: 30px;
  color: #444444;
}

.text__italic {
  font-family: Roboto, sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.39;
  margin-bottom: 30px;
}

.text__big {
  font-family: Merriweather, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 1.41;
  color: #FF0000;
  margin-bottom: 30px;
}

.text__black {
  color: #000000;
}

.text__grey {
  color: #444444;
}

.text__red {
  color: #FF0000;
}

.text__dark-red {
  color: #8B0000;
}

.text__blue {
  color: #0099FF;
}

.text__darkblue {
  color: #A833CF;
}

.korespondent__post {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding: 20px 30px 20px 20px;
  background: #EEEEEE;
  margin-bottom: 30px;
}

.photo__wrapper {
  width: 100px;
  height: 100px;
  position: relative;
  margin-right: 20px;
  flex-shrink: 0;
  border-radius: 100%;
  overflow: hidden;
}

.photo__img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}

.post__text {
  margin-bottom: 0;
}

.doctor__post {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding: 0px 0px 0px 20px;
  margin-bottom: 30px;
}

.not__margin-post {
  margin-bottom: 10px;
}

.doctor__photo {
  width: 800px;
  display: block;
  margin: auto;
  margin-bottom: 30px;
}

.doctor__photo-text {
  margin-top: -15px;
  text-align: center;
}

.blockquote {
  width: 100%;
  height: auto;
  background: #FFFF00;
  margin-bottom: 50px;
  margin-top: 50px;
  padding: 39px 45px;
  position: relative;
}

.blockquote .text__normal {
  margin-bottom: 0;
}

.blockquote:before {
  content: "";
  width: 45px;
  height: 36px;
  background-image: url(../img/quotes.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: -20px;
  left: 10px;
}

.blockquote:after {
  content: "";
  width: 45px;
  height: 36px;
  background-image: url(../img/quotes.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  bottom: -20px;
  right: 10px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.animation__link {
  display: block;
  width: auto;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 23px;
  line-height: 1.09;
  text-align: center;
  text-decoration: underline;
  color: #FF0000;
  margin: auto;
  margin-bottom: 30px;
}

.main__order-btn {
  width: 240px;
  height: 50px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  background: #FFE600;
  margin-bottom: 48px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 1;
  color: #000000;
  transition: 0.3s ease;
}

.main__order-btn:before {
  content: "";
  width: 150px;
  height: 30px;
  position: absolute;
  bottom: -18px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background: rgba(255, 230, 0, 0.2);
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

.main__order-btn:hover {
  background: #dbc500;
}

.text__list {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  padding-bottom: 2px;
  margin: auto;
  display: inline-block;
  color: #444444;
}

.list {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  list-style-type: none;
}

.list .text__list:before {
  content: "\2022";
  padding-right: 10px;
}

.info__block {
  width: 100%;
  height: auto;
  padding: 30px 20px;
  background: #FFECA6;
  margin-bottom: 30px;
}

.info__block-title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.33;
  color: #444444;
  margin-bottom: 30px;
}

.block__list-item {
  margin-left: 30px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.33;
  color: #444444;
  margin-bottom: 5px;
  margin-left: 10px;
}

.block__list-item .text__link {
  font-weight: 500;
}

.block__list-item::before {
  content: "\2022";
  padding-right: 10px;
}

.block__text {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  color: #444444;
  margin-bottom: 30px;
  padding-left: 30px;
}

.block__text:last-of-type {
  margin-bottom: 0;
}

.blockquote__2 {
  padding: 30px 20px;
}

.blockquote__2 .text__bold {
  color: #444;
  margin-bottom: 20px;
}

.card__block-quantity {
  width: 200px;
  height: 120px;
  background: #FF0000;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.2;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 30px;
}

.card__block {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__block-info {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: #444444;
  margin-bottom: 30px;
  width: 427px;
}

.card__block-date {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.2;
  text-align: center;
  color: #000000;
  margin-bottom: 30px;
  width: 568px;
}

.card__block-info2 {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.2;
  text-align: center;
  color: #000000;
  margin-bottom: 130px;
}

.card {
  width: 620px;
  background: linear-gradient(122.95deg, #7DBCC2 6.94%, #864CD0 124.86%);
  border-radius: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__img {
  display: block;
  align-self: flex-start;
  margin-left: 100px;
  margin-top: -110px;
  margin-bottom: -15px;
}

.card__title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.2;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 5px;
}

.card__date {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 5px;
}

.card__price {
  width: 100%;
}

.card__price .price {
  width: 100%;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.card__price .price span {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1;
  color: #FFE600;
}

.card__discont {
  width: 440px;
  height: 60px;
  border: 1px solid #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.card__form {
  width: 240px;
  height: auto;
  margin-bottom: 15px;
}

.card__form .order__btn {
  width: 100%;
  height: 40px;
  cursor: pointer;
  margin-bottom: 0;
}

.card__form-wrapper {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.card__input {
  width: 100%;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #8567CD;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  color: #676767;
  padding: 0 10px;
}

.card__timer {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.card__info {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 1.2;
  text-align: center;
  color: #FFFFFF;
  width: 290px;
  margin-bottom: 18px;
}

.review__section {
  width: 100%;
  max-width: 1140px;
  margin: auto;
  margin-bottom: 30px;
}

.reviews-wrapper {
  width: 100%;
}

.reviews-headline {
  border-bottom: 1px dashed #365398;
  color: #365398;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 10px;
  line-height: 1.3;
  font-size: 14px;
  font-family: 'Tahoma', sans-serif;
}

.reviews {
  font-family: Arial, serif;
  /*max-width: 790px;*/
  width: 100%;
  /*margin-top: 30px;*/
}

.review-inner > a {
  color: #0198bd !important;
  text-decoration: none;
}

.review-inner > a:hover {
  text-decoration: underline !important;
}

.review-inner img {
  margin-top: 7px;
  width: 350px;
}

.form-comment--name input {
  font-size: 14px;
}

.form-reviews {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.comment-photo {
  width: 64px;
  height: 64px;
  /*border-radius: 50%;*/
}

.comment-photo img {
  display: block;
  width: 100%;
  border-radius: 50%;
}

.comment-info {
  width: calc(100% - 60px - 15px);
}

.form-comment--name input {
  outline: none;
  display: block;
  width: 100%;
  max-width: 190px;
  height: 27px;
  padding: 5px 10px;
  border-radius: 0;
  border: 1px solid #ddd;
  transition: none;
  box-sizing: border-box;
  font-weight: normal;
}

.form-comment--name input:focus {
  border: 2px solid #000;
  border-radius: 4px;
}

.form-comment--text textarea {
  display: block;
  width: 100%;
  height: 58px;
  padding: 10px;
  border-radius: 0;
  border: 1px solid #ddd;
  transition: none;
  resize: none;
  margin-top: 14px;
  font-weight: normal;
  font-size: 14px;
}

.form-comment--btn button {
  display: inline-block;
  padding: 0 5px;
  /* font-size: 16px; */
  color: #fff;
  background: #4267b2;
  border-radius: 2px;
  font-size: 14px;
  min-width: 127px;
  height: 22px;
  cursor: pointer;
  font-weight: bold;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0);
  margin-top: 15px;
}

.review {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dashed #ccc;
}

.review .media-left {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  padding: 0;
}

.review .media-left img {
  display: block;
  width: 100% !important;
  height: 100% !important;
  border-radius: 50%;
  /*width: 74px;*/
}

.content .img-responsive {
  margin: 4px 0 0;
}

.review .media-body {
  width: calc(100% - 70px - 10px);
}

.review .media-body > p {
  font-size: 14px !important;
  line-height: 19.6px;
}

.review .media-body p {
  font-weight: normal;
}

.review {
  border-bottom: 1px dashed #ccc;
  display: flex;
  align-items: flex-start;
  padding: 14px 0;
  margin: 0 -10px;
}

.review h4 {
  font-size: 14px !important;
  font-weight: 700;
}

.review .rating {
  display: flex;
  align-items: center;
  line-height: 20px;
  margin-top: 8px;
}

.review .review {
  padding-bottom: 0;
  border: none;
  width: 100%;
}

.review .separator-point {
  font-weight: normal;
  margin: 0 3px;
}

.review .media-left img {
  margin-top: 0;
  margin-left: 10px;
  margin-right: 10px;
}

.review .media-heading {
  margin-bottom: 8px;
}

.review .media-body > p img {
  margin-top: 10px;
  max-width: 340px;
  width: 100%;
}

.rating-like {
  display: flex;
  align-items: center;
  margin-left: 4px;
}

.rating-like .count {
  margin-left: 4px;
  font-size: 12px;
  color: #365398;
  font-weight: normal !important;
}

.rating .time {
  color: #365398;
  font-size: 12px;
  font-weight: normal !important;
}

.add-like,
.review-link {
  color: #365398 !important;
  font-size: 12px;
  margin-bottom: 0 !important;
  font-weight: normal;
}

.ratting .likes {
  font-size: 12px;
}

.rating-like img {
  width: 13px !important;
}

.add-like {
  cursor: pointer;
  margin-top: 0;
  width: auto;
}

.add-like.active {
  font-weight: bold !important;
}

.review-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 10px;
  overflow: hidden;
}

.review-photo img {
  display: block;
  width: 100%;
}

.review-body {
  width: calc(100% - 50px - 20px - 10px);
}

.review .user-name {
  margin-top: 0;
  color: #365398;
  font-size: 14px;
  text-align: left;
  -moz-text-align-last: left;
  text-align-last: left;
  font-weight: 700;
}

.review-inner {
  margin: 8px 0;
  font-size: 14px;
  line-height: 1.4;
}

.review-inner img {
  width: 100%;
  max-width: 420px;
}

.review a {
  box-shadow: none;
  text-decoration: none;
}

.review a:hover {
  text-decoration: none;
  color: red;
}

.review-photo-prod {
  display: block;
  width: 100%;
  max-width: 380px;
  margin-top: 8px;
}

.copyright, .footer__links {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.1;
  text-align: center;
  color: #000000;
}

.copyright a, .footer__links a {
  cursor: pointer;
}

.footer__links {
  margin-bottom: 58px;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 1000;
}

.privacy-policy-popup {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  transition: 0.3s ease;
  overflow: auto;
}

.privacy-policy-popup.active {
  opacity: 1;
  visibility: visible;
  z-index: 10000;
}

.privacy-policy__wrapper {
  display: none;
  width: 750px;
  height: auto;
  padding: 50px;
  background-color: #F7F7FF;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  margin: auto;
}

.privacy-policy__wrapper h3 {
  width: 100%;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 100%;
  color: #222;
  margin-bottom: 10px;
}

.privacy-policy__headline {
  width: 100%;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 100%;
  text-align: center;
  color: #222;
  margin-bottom: 20px;
}

.privacy-policy__text {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  text-align: left;
  color: #222;
  margin-bottom: 10px;
}

.privacy__close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 1000;
}

@media (max-width: 880px) {
  .privacy-policy__wrapper {
    width: calc(100% - 60px);
  }
}

@media (max-width: 700px) {
  .privacy-policy__wrapper {
    width: calc(100% - 30px);
    height: 500px;
    padding: 50px 30px;
    overflow: auto;
  }
  .privacy-policy__headline {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .privacy-policy__wrapper h3 {
    font-size: 16px;
  }
  .privacy-policy__text {
    font-size: 14px;
  }
}

@media (max-width: 320px) {
  .privacy-policy__wrapper {
    padding: 50px 20px;
  }
}

@media (max-width: 1440px) {
  .main__title {
    font-size: 30px;
  }
}

@media (max-width: 1140px) {
  .sidebar {
    display: none;
  }
}

@media (max-width: 1000px) {
  .site__order-btn {
    display: flex;
  }
  .container {
    width: 100%;
    max-width: 100%;
  }
  .site__container {
    margin: 0;
  }
  .main__section {
    padding-top: 48px;
  }
  .header__link {
    display: none;
  }
  .header__menu {
    display: flex;
  }
  .header__name {
    margin-left: 15px;
  }
  .main__header::before {
    display: none;
  }
  .main__title {
    position: static;
    font-size: 20px;
    color: #000000;
    padding: 0 15px;
    margin-bottom: 10px;
  }
  .lifestyle {
    padding: 0px 15px;
    margin-bottom: 10px;
  }
  .autor__info {
    display: flex;
    flex-direction: column;
  }
  .autor__info-items {
    order: 1;
    margin-bottom: 9px;
    padding: 0 15px;
  }
  .autor__info-item {
    margin-right: 15px;
    margin-bottom: 11px;
  }
  .autor__text {
    order: 2;
    margin-bottom: 20px;
    padding: 0 15px;
    font-size: 20px;
  }
  .autor__img {
    order: 3;
    margin-bottom: 20px;
    width: calc(100% - 30px);
  }
  .autor__info-text {
    order: 4;
    margin-bottom: 20px;
    padding: 6px 15px;
  }
  .text__bold {
    padding: 0 15px;
    margin-bottom: 20px;
  }
  .text__italic {
    padding: 0 15px;
    margin-bottom: 15px;
  }
  .text__big {
    padding: 0 15px;
    margin-bottom: 15px;
    font-size: 20px;
  }
  .korespondent__post {
    padding: 18px 15px;
    margin-bottom: 20px;
  }
  .korespondent__post .text__bold {
    padding: 0;
    margin-bottom: 0px;
  }
  .doctor__post {
    padding: 0px 15px;
    margin-bottom: 20px;
    align-items: flex-start;
  }
  .text__normal {
    padding: 0 15px;
    margin-bottom: 20px;
  }
  .post__text {
    margin: 0 !important;
    padding: 0 !important;
  }
  .doctor__photo {
    width: calc(100% - 30px);
    margin-bottom: 20px;
  }
  .doctor__photo-text {
    margin-top: -10px;
    text-align: center;
  }
  .blockquote {
    margin-bottom: 40px;
    margin-top: 40px;
    padding: 32px 15px;
  }
  .animation__link {
    margin-bottom: 20px;
    padding: 0 15px;
  }
  .main__order-btn {
    margin-bottom: 38px;
  }
  .list {
    padding: 0 15px;
    margin-bottom: 20px;
  }
  .info__block {
    padding: 25px 15px;
    margin-bottom: 20px;
  }
  .info__block .text__bold {
    padding: 0;
    margin: 0px;
  }
  .info__block-title {
    margin-bottom: 10px;
  }
  .block__text {
    margin-bottom: 10px;
  }
  .blockquote__2 .text__bold {
    padding: 0;
    margin-bottom: 10px;
  }
  .blockquote__2 .text__normal {
    padding: 0;
  }
  .blockquote__2 .text__normal:first-of-type {
    margin-bottom: 10px;
  }
  .review__section {
    width: 100%;
    max-width: calc(100% - 30px);
    margin: auto;
    margin-bottom: 20px;
  }
}

@media (max-width: 700px) {
  .card__block {
    padding: 0 15px;
    margin-bottom: 20px;
  }
  .card__block-info {
    margin-bottom: 20px;
    width: 100%;
  }
  .card__block-date {
    margin-bottom: 20px;
    width: 100%;
  }
  .card__block-info2 {
    margin-bottom: 20vw;
  }
  .card {
    width: 100%;
    padding: 0 12px;
  }
  .card__img {
    width: 75vw;
    margin-left: 13vw;
    margin-top: -17vw;
    margin-bottom: -15px;
  }
  .card__discont {
    width: 100%;
    height: auto;
    padding: 11px 13px;
  }
  .card__form {
    width: 100%;
    margin-bottom: 15px;
  }
}

@media (max-width: 414px) {
  .autor__info-item span {
    font-size: 12px;
    line-height: 1.2;
  }
  .main__title {
    font-size: 15px;
  }
  .main__header {
    margin-bottom: 0px;
  }
  .lifestyle {
    font-size: 12px;
  }
  .doctor__photo-text {
    margin: auto;
    margin-top: -10px;
    margin-bottom: 20px;
    width: 90%;
  }
  .block__list-item {
    padding-left: 25px;
    margin-left: 0;
    position: relative;
  }
  .block__list-item::before {
    content: "\2022";
    position: absolute;
    top: 1px;
    left: 10px;
  }
  .block__text {
    padding-left: 25px;
  }
  .card__block-date {
    font-size: 20px;
  }
  .card__block-info2 {
    font-size: 18px;
  }
  .review {
    width: 100%;
    margin: 0;
  }
}

@media (max-width: 320px) {
  .main__title {
    font-size: 12px;
  }
  .autor__info-item {
    margin-right: 10px;
  }
  .autor__info-item span {
    font-size: 10px;
    line-height: 1.2;
  }
  .autor__text {
    font-size: 12px;
  }
  .autor__info-text {
    font-size: 12px;
  }
  .text__bold {
    font-size: 14px;
  }
  .text__italic {
    font-size: 14px;
  }
  .text__big {
    font-size: 16px;
  }
  .photo__wrapper {
    width: 90px;
    height: 90px;
    margin-right: 15px;
  }
  .text__normal {
    font-size: 14px;
  }
  .animation__link {
    font-size: 16px;
  }
  .text__link {
    font-size: 14px;
  }
  .text__list {
    font-size: 14px;
  }
  .info__block-title {
    font-size: 14px;
  }
  .block__list-item {
    font-size: 14px;
  }
  .block__text {
    font-size: 12px;
  }
  .card__block-info {
    font-size: 14px;
  }
  .card__block-date {
    font-size: 16px;
  }
  .card__block-info2 {
    font-size: 16px;
  }
  .card__img {
    width: 75vw;
    margin-left: 10vw;
    margin-top: -17vw;
    margin-bottom: -10px;
  }
  .card__info {
    width: 100%;
  }
  .review-photo {
    margin: 0;
    margin-right: 10px;
  }
  .review-body {
    width: calc(100% - 50px - 10px);
  }
  .review .rating {
    flex-wrap: wrap;
  }
}
