@font-face {
  font-family: Roboto;
  font-weight: normal;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.eot");
}

@font-face {
  font-family: Roboto;
  font-weight: 500;
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.eot");
}

@font-face {
  font-family: Roboto;
  font-weight: bold;
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.eot");
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  box-sizing: border-box;
  text-decoration: none;
  -webkit-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

input::-webkit-input-placeholder {
  color: inherit;
  opacity: 1;
}

input:-ms-input-placeholder {
  color: inherit;
  opacity: 1;
}

input::placeholder {
  color: inherit;
  opacity: 1;
}

input,
button,
textarea,
select {
  font: inherit;
  outline: none;
}

img {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

*:focus-visible {
  outline: none;
}

p {
  width: 100%;
}

a, button {
  outline: none;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: auto;
  font-size: 15px;
  font-family: Roboto, sans-serif;
  font-weight: normal;
  background: #EDF8F4;
}

.site__wrapper {
  width: 100%;
  height: auto;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  overflow: hidden;
}

.container {
  width: 440px;
  height: auto;
  margin: 0 auto;
  position: relative;
}

.site__header {
  width: 100%;
  height: auto;
}

.header__wrapper {
  width: 100%;
  height: auto;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  padding-top: 19px;
  margin-bottom: 63px;
}

.header__title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  color: #FF5500;
  margin-bottom: 11px;
  width: 100%;
}

.header__subtitle {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.3;
  text-align: center;
  color: #295959;
  margin-bottom: 23px;
}

.header__img-wrapper {
  width: 100%;
  height: 674px;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin-bottom: 28px;
}

.header__img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.header__mabrem {
  position: absolute;
  bottom: 30px;
  right: 30px;
  width: 100px;
}

.header__img-item {
  position: absolute;
  top: 51px;
  left: 57px;
  width: 67px;
  height: 102px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1;
  text-align: center;
  color: #FF661A;
}

.header__price {
  width: 100%;
  margin-bottom: 15px;
}

.price {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}

.old__price {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  text-align: center;
  color: #444444;
  position: relative;
}

.old__price:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-3deg);
  transform: translate(-50%, -50%) rotate(-3deg);
  width: 110%;
  height: 2px;
  background-color: #FF0000;
}

.new__price {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  text-align: right;
  color: #CD3333;
  padding-left: 28px;
}

.header__order-btn {
  width: 360px;
  height: 60px;
  background: #FF661A;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 8px;
  transition: 0.3s ease;
  cursor: pointer;
}

.header__order-btn:hover {
  background: #FF3D00;
}

.remainder {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1;
  text-align: center;
  color: #333333;
  margin-bottom: 47px;
}

.remainder span {
  font-weight: 500;
  color: #FF5500;
}

.header__delivery {
  width: 100%;
  height: auto;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

.header__delivery-wrapper {
  width: 104px;
  height: auto;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
}

.delivery__img-wrapper {
  width: 104px;
  height: 104px;
  background: #307618;
  border-radius: 20px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  margin-bottom: 12px;
}

.header__delivery-text {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.3;
  text-align: center;
  color: #333333;
}

.site__main {
  width: 100%;
  height: auto;
}

.video__section {
  width: 100%;
  height: auto;
}

.video__wrapper {
  width: 100%;
  height: auto;
  padding-bottom: 68px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
}

.video__title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  color: #1D8E09;
  margin-bottom: 13px;
  width: 100%;
}

.video__text {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.3;
  text-align: center;
  color: #333333;
  margin-bottom: 14px;
}

.video {
  overflow: hidden;
  width: 100%;
  height: 247px;
  position: relative;
  border-radius: 20px;
  cursor: pointer;
}

.video iframe {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 100;
}

.video img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.video:before {
  content: "";
  width: 85px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-image: url(../img/youtube.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.advantage__wrapper {
  width: 400px;
  height: auto;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  padding-bottom: 80px;
  margin: auto;
}

.advantage__title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  color: #1D8E09;
  margin-bottom: 11px;
  width: 100%;
}

.advantage__subtitle {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.3;
  text-align: center;
  color: #295959;
  margin-bottom: 14px;
  width: 100%;
}

.advantage__text {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.3;
  text-align: center;
  color: #333333;
  margin-bottom: 13px;
}

.advantage__img-wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
  margin-top: 10px;
  margin-bottom: 21px;
  border-radius: 20px;
}

.advantage__img-wrapper1 {
  height: 222px;
}

.advantage__img-wrapper1 .advantage__img {
  width: 101%;
}

.advantage__img-wrapper2 {
  height: 362px;
}

.advantage__img-wrapper3 {
  height: 380px;
}

.advantage__img {
  height: auto;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.advantage__wrapper .header__order-btn {
  margin-top: 10px;
  margin-bottom: 0;
}

.information__section {
  width: 400px;
  height: auto;
  padding-bottom: 38px;
  margin: auto;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
}

.info__img-wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin-bottom: 30px;
}

.info__img-wrapper1 {
  height: 400px;
}

.info__img-wrapper2 {
  height: 667px;
}

.info__img-wrapper3 {
  height: 204px;
}

.info__img-wrapper4 {
  height: 284px;
}

.info__img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.certificate__section {
  width: 400px;
  height: auto;
  margin: auto;
  padding-bottom: 74px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
}

.certificate__title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  color: #1D8E09;
  margin-bottom: 11px;
  width: 100%;
}

.certificate__text {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  color: #295959;
  margin-bottom: 23px;
}

.certificate__img-wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  margin-bottom: 19px;
}

.certificate__img-wrapper1 {
  height: 275px;
}

.certificate__img-wrapper2 {
  height: 575px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
  margin-bottom: 30px;
}

.certificate__img-wrapper2 .certificate__img {
  height: 103%;
  width: auto;
}

.certificate__img-wrapper3 {
  height: 285px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
  margin-bottom: 19px;
}

.certificate__img-wrapper3 .certificate__img {
  width: auto;
  height: 102%;
}

.certificate__img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}

.certificate__title-small {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.3;
  text-align: center;
  color: #CD3333;
  margin-bottom: 14px;
  width: 100%;
}

.certificate__text-small {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.3;
  text-align: center;
  color: #333333;
}

.card__section {
  width: 100%;
  height: auto;
  padding-bottom: 40px;
}

.card {
  width: 100%;
  height: auto;
  background: #307618;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 39px 40px 47px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
}

.card__title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 12px;
}

.star__raiting {
  margin-bottom: 20px;
  display: -webkit-flex;
  display: flex;
}

.product__logo {
  margin-bottom: 30px;
}

.card__img {
  width: 340px;
  margin-bottom: 30px;
}

.card__form {
  width: 100%;
  height: auto;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
}

.card__input-wrapper {
  width: 100%;
}

.card__input {
  width: 100%;
  height: 60px;
  background: #EDF8F4;
  border-radius: 20px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1;
  color: #333333;
  margin-bottom: 15px;
  padding: 0 20px;
}

.card__input::-webkit-input-placeholder {
  color: #333333;
}

.card__input:-ms-input-placeholder {
  color: #333333;
}

.card__input::placeholder {
  color: #333333;
}

.card__select {
  width: 100%;
  height: 60px;
  background: #EDF8F4;
  border-radius: 20px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1;
  color: #333333;
  margin-bottom: 15px;
  padding: 0 20px;
  background-image: url(../img/triangle.png);
  background-repeat: no-repeat;
  background-position: right 25px center;
}

.card__info-price {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 24px;
}

.card__price {
  margin-bottom: 15px;
}

.card__price .old__price {
  color: #DBDBDB;
}

.card__price .new__price {
  text-align: center;
  color: #FFE600;
}

.card .remainder {
  color: #FFFFFF;
  margin: 0;
}

.card .remainder span {
  color: #FFE600;
}

.application__section {
  width: 400px;
  margin: auto;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
}

.application__img-wrapper {
  width: 100%;
  position: relative;
  border: 10px solid #307618;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 68px;
}

.application__img-wrapper1 {
  height: 400px;
}

.application__img-wrapper2 {
  border: none;
  height: 116px;
}

.application__img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.application__title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  color: #1D8E09;
  margin-bottom: 11px;
}

.application__text {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.3;
  text-align: center;
  color: #295959;
  margin-bottom: 23px;
}

.application__text span {
  color: #CD3333;
}

.applications {
  width: 100%;
  height: auto;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.application__block {
  width: 149px;
  height: auto;
  margin-bottom: 35px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
}

.application__logo {
  width: 100%;
  height: 154px;
  border: 10px solid #307618;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  margin-bottom: 12px;
}

.application__logo img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 129px;
  height: auto;
}

.application__block-text {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.3;
  text-align: center;
  color: #333333;
}

.application__text-small {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.3;
  text-align: center;
  color: #333333;
  margin-bottom: 13px;
  width: 360px;
}

.review__section {
  width: 100%;
  height: auto;
  margin-bottom: 50px;
}

.review__wrapper {
  width: 100%;
  height: auto;
  position: relative;
}

.review__title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  color: #1D8E09;
  margin-bottom: 22px;
}

.reviews {
  width: 440px;
}

.owl-carousel .owl-stage-outer {
  overflow: visible;
}

.review {
  width: 440px;
  height: 621px;
  padding: 19px 20px 30px;
  background: #307618;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.review__text {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.5;
  color: #FFFFFF;
  height: 180px;
}

.review__img-wrapper {
  width: 400px;
  height: 300px;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}

.review__img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}

.review__autor {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}

.review__autor .star__raiting {
  margin: 0;
  display: -webkit-flex;
  display: flex;
}

.review__autor .star {
  width: auto !important;
}

.autor {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}

.autor__img-wrapper {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position: relative;
  overflow: hidden;
  margin-right: 20px;
}

.autor__img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}

.autor__name {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.5;
  color: #FFFFFF;
}

.owl-nav {
  width: 400px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin: auto;
  margin-top: 20px;
}

.owl-nav button {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: url(../img/btn.png) center no-repeat !important;
}

.owl-nav button span {
  display: none;
}

.owl-nav .owl-next {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.owl-dots {
  margin: 0 auto;
  width: 60px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin-top: -30px;
}

.owl-dots button {
  width: 12px;
  height: 12px;
  background: #307618 !important;
  border-radius: 100%;
}

.owl-dots button.active {
  background: transparent !important;
  border: 3px solid #307618;
}

.add__review {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1;
  text-align: center;
  color: #444444;
  cursor: pointer;
}

.site__footer {
  width: 100%;
  height: auto;
}

.footer__wrapper {
  width: 400px;
  height: auto;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  margin: auto;
}

.footer__title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  color: #FF5500;
  margin-bottom: 11px;
  width: 100%;
}

.footer__text {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.3;
  text-align: center;
  color: #295959;
  margin-bottom: 23px;
}

.footer__img-wrapper {
  width: 100%;
  height: 400px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  margin-bottom: 27px;
}

.footer__img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}

.footer__line {
  width: 100%;
  background: #D7F0E7;
}

.footer__line .container {
  width: 100%;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  color: #555555;
  padding: 12px 30px;
}

.privacy {
  cursor: pointer;
}

.modal {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  transition: 0.3s ease;
}

.modal.active {
  opacity: 1;
  visibility: visible;
  z-index: 10000;
}

.modal__wrapper {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 750px;
  height: 348px;
  padding: 50px;
  background-color: #F7F7FF;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}

.modal form {
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  transition: 0.3s ease;
}

.modal form.active {
  opacity: 1;
  visibility: visible;
}

.modal__autor {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

.name__input {
  background: rgba(255, 255, 255, 0.5);
  width: 250px;
  height: 50px;
  border: 1px solid #888888;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: inherit;
  font-weight: normal;
  font-size: 18px;
  line-height: 50px;
  color: #444444;
  padding: 0 20px;
  background-color: #fff;
  margin-right: 50px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: center;
  align-items: center;
}

.name__input::-webkit-input-placeholder {
  font-family: inherit;
  font-weight: normal;
  font-size: 18px;
  line-height: 50px;
  color: #444;
}

.name__input:-ms-input-placeholder {
  font-family: inherit;
  font-weight: normal;
  font-size: 18px;
  line-height: 50px;
  color: #444;
}

.name__input::placeholder {
  font-family: inherit;
  font-weight: normal;
  font-size: 18px;
  line-height: 50px;
  color: #444;
}

.input__file {
  display: none;
}

.file {
  width: 153px;
  height: 50px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  cursor: pointer;
  margin-right: 20px;
}

.file span {
  font-family: inherit;
  font-weight: normal;
  font-size: 16px;
}

.file .file__photo {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #fff;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  margin-right: 15px;
  border: 1px solid #888888;
  position: relative;
}

.file .file__photo img {
  display: none;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.file .file__photo:before {
  content: "";
  position: absolute;
  width: 14px;
  height: 2px;
  background: #5B67C8;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.file .file__photo:after {
  content: "";
  position: absolute;
  width: 14px;
  height: 2px;
  background: #5B67C8;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
  transform: translate(-50%, -50%) rotate(90deg);
}

.label {
  font-family: inherit;
  font-weight: normal;
  font-size: 18px;
  line-height: 130%;
  color: #222222;
}

.modal__star-raiting {
  display: -webkit-flex;
  display: flex;
  width: 174px;
  height: 50px;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-align-items: center;
  align-items: center;
  font-family: inherit;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #222222;
  position: relative;
  z-index: 10000;
}

.modal__raiting {
  min-width: 98px;
  height: 18px;
  font-size: 0px;
  margin-left: 23px;
}

.modal__raiting img {
  pointer-events: auto;
}

.modal__raiting img {
  width: 18px;
  height: 18px;
}

.modal__area {
  width: 100%;
  height: 98px;
  margin-bottom: 30px;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid #888888;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: inherit;
  font-weight: normal;
  font-size: 18px;
  line-height: 130%;
  color: #444444;
  padding: 13px 20px;
  background-color: #fff;
}

.modal__area::-webkit-input-placeholder {
  font-family: inherit;
  font-weight: normal;
  font-size: 18px;
  line-height: 130%;
  color: #444444;
}

.modal__area:-ms-input-placeholder {
  font-family: inherit;
  font-weight: normal;
  font-size: 18px;
  line-height: 130%;
  color: #444444;
}

.modal__area::placeholder {
  font-family: inherit;
  font-weight: normal;
  font-size: 18px;
  line-height: 130%;
  color: #444444;
}

.send {
  width: 250px;
  height: 50px;
  background: #5B67C8;
  border-radius: 4px;
  font-family: inherit;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  cursor: pointer;
}

.modal__send {
  margin: auto;
}

.send__window {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
}

.send__window.active {
  opacity: 1;
  visibility: visible;
}

.send__massage {
  width: 60%;
  font-weight: normal;
  font-size: 18px;
  line-height: 130%;
  text-align: center;
  color: #222222;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 1000;
}

.privacy-policy-popup {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  transition: 0.3s ease;
}

.privacy-policy-popup.active {
  opacity: 1;
  visibility: visible;
  z-index: 10000;
}

.privacy-policy__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 750px;
  height: auto;
  padding: 50px;
  background-color: #F7F7FF;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}

.privacy-policy__headline {
  width: 100%;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 100%;
  text-align: center;
  color: #222;
  margin-bottom: 20px;
}

.privacy-policy__text {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  text-align: left;
  color: #222;
  margin-bottom: 10px;
}

.privacy__close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 1000;
}

@media (max-width: 700px) {
  .modal__wrapper {
    width: 400px;
    height: 508px;
    padding: 60px 20px;
  }
  .modal form {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-align-items: flex-start;
    align-items: flex-start;
  }
  .send {
    margin-top: 20px;
  }
  .modal__area {
    margin-bottom: 75px;
  }
  .modal__autor {
    height: auto;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    margin: 0;
  }
  .file {
    -webkit-order: 1;
    order: 1;
    margin-left: 0px;
    margin-bottom: 20px;
  }
  .name__input {
    width: 100%;
    -webkit-order: 2;
    order: 2;
  }
  .modal__area {
    height: 168px;
    margin: 0;
  }
  .modal__star-raiting {
    -webkit-order: 3;
    order: 3;
    position: relative;
    left: auto;
    width: 100%;
    height: 50px;
    bottom: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }
  .privacy-policy__wrapper {
    width: calc(100% - 30px);
    height: auto;
    padding: 50px 30px;
    overflow: auto;
  }
  .privacy-policy__headline {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .privacy-policy__text {
    font-size: 14px;
  }
}
